@font-face {
  font-family: 'Geist';
  src: url('/v3/fonts/Geist-UltraBlack.woff2') format('woff2');
  font-weight: 900;
  /* UltraBlack */
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/v3/fonts/Geist-Black.woff2') format('woff2');
  font-weight: 800;
  /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/v3/fonts/Geist-Bold.woff2') format('woff2');
  font-weight: 700;
  /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/v3/fonts/Geist-Medium.woff2') format('woff2');
  font-weight: 500;
  /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/v3/fonts/Geist-Regular.woff2') format('woff2');
  font-weight: 400;
  /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/v3/fonts/Geist-SemiBold.woff2') format('woff2');
  font-weight: 600;
  /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/v3/fonts/Geist-Thin.woff2') format('woff2');
  font-weight: 100;
  /* Thin */
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/v3/fonts/Geist-UltraLight.woff2') format('woff2');
  font-weight: 200;
  /* UltraLight */
  font-style: normal;
}